 body{
        height: 100%;
           }
        /*for 1*/
                #top-pane { 
                  background-color: rgba(1, 10, 70, 0.10);
                }
              
              
                /*for 2*/
                #middle-pane { 
                 background-color: rgba(191, 110, 70, 0.10);
                  /*height: 1000px;700*/
                  /*width: "160%";*/
                }
              
                /*for 3*/
                #bottom-pane{ 
                  background-color: rgba(66, 45,7, 0.15); 
                }
              
              /*for 4*/
              #center-pane{ 
			  background-image: url("/img/timeright.jpg");		
                
              }
			  #middle h1{
			  color: white;
			  font-size: 6.5em; /* 14px/16=0.875em */
			   text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
			  
			  }
              
               /*for 5 */
              #right-pane{ 
                /*background-color: rgba(50,89, 14, 0.04);*/
           	 background-image: url("/img/right.jpg");	
              }