.form {
  position: relative;
  background: #ffffff;
  width: 285px;
  margin: 40px auto 0;
  padding: 40px;
  border-top: 5px solid #33b5e5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}
.form .register {
  display: none;
}
.form h2 {
  margin: 0 0 20px;
  line-height: 1;
  color: #33b5e5;
  font-size: 18px;
  font-weight: 400;
}
.form .alert {
  position: relative;
  background: #f3f3f3;
  color: #666666;
  font-size: 12px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: left;
}
.form .alert .fa-times-circle {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-top: -8px;
  float: right;
}
.form input {
  outline: none;
  display: block;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px 15px;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ccc;
  font-family: "Roboto";
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-wieght: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.form input:focus {
  color: #333333;
  border: 1px solid #33b5e5;
}
.form button {
  cursor: pointer;
  background: #33b5e5;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 25px;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.form button:hover {
  background: #1a9bcb;
}
.form footer {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  margin: 0 0 -40px -40px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form footer a {
  color: #333333;
  text-decoration: none;
}


/**********Apllication page*****************/
body{
   height: 100%;
    }



#left-pane { /*List of list side 1 2 3*/
     background-color: #989076; /*#F0F8FF*/
    }
	
#top-pane { /**for 1**/
  background-color: rgba(1, 10, 70, 0.10);
  /*width: 399px;*/
     }	
#upBtn {
 width: 100%;
 height : 100%;
  background-color: rgba(1, 10, 70, 0.10);
  background-image: url("/vendors/kendo-ui/styles/textures/highlight.png");
}
#upBtn h2 {
	color : white ;
	font-family : "Comic Sans MS", cursive, sans-serif;
}

#middle-pane{ /** for 2 **/
    background-color: #c5c5c5;
	background-image: url("/vendors/kendo-ui/styles/textures/brushed-metal.png");	
}
.listView {
    height: 35px;
	background-color: #c5c5c5;
	background-image: url("/vendors/kendo-ui/styles/textures/brushed-metal.png");
}
.listView .title{
    margin-top: 8px;
    float: left;
    margin-left: 20px;
	font-weight: bold;
}
.listView p {
	margin: 6px;
    position: fixed;
    float: left;
    left: 155px;
    font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
  
}
.listView button{ /*parent > child  button edit*/
      float: right;
	  right : 10px;
	  background-color: #c5c5c5;
	  background-image: url("/vendors/kendo-ui/styles/textures/brushed-metal.png");
	
 }

.listView: hover{
	background: #1a9bcb;
}

#bottom-pane { /******Layout for 3 background color for button plus ********/
  background-color: rgba(1, 10, 70, 0.10); 
 }
#addListButton {
   width: 100%;
   height : 100%;
   background-color: rgba(9,8,7,0.7);
   background-image: url("/vendors/kendo-ui/styles/textures/highlight.png");
  color : white ;
  font-weight: bold;
}




#center-pane{ /**for 4**/
   background-color: rgba(0, 0, 255, 0.3);  /* blue with opacity */
    text-align: center;
}		 
 .k-tabstrip .k-content.k-state-active {
   background-color: rgba(0, 0, 255, 0.23);	  /* blue with opacity*/
    /*color: #2e2e2e;*/
}
#listMiddView .listMiddView{
	height: 35px;
   background-color:  rgba(0, 0, 255, 0.3);		
}
#tabstrip input {
    height: 30px;
    font-size: 17px;
    width:88%;
}
#tabstrip button {
    height: 36px;
    width: 36px;
} 
 
 
 /*Window add list*/
#addListWindow input{
    height: 30px;
    font-size: 17px;
}
#addListWindow #listDialogAddSubmit{
    float: right;
    margin-top: 70px;
}

/* Edit list of tasks*/
#editListWindow input{
    height: 30px;
    font-size: 17px;
}
#editListWindow #listDialogEditSubmit{
    float: right;
}
#editListWindow #listDialogEditRemove{
    float: left;
}




/* */
.item {
    float: left;
    margin: 40px;
	background-color : 	#F0F8FF ;
	font-family : "Comic Sans MS", cursive, sans-serif;
}
.item .row {
    float:left;
    width: 100%;
    margin: 5px;
}
.item label {
    font-size: 14px;
    padding-right: 50px;
    float: left;
}
.item input {
    height: 25px;
    font-size: 14px;
	font-family : "Comic Sans MS", cursive, sans-serif;
}
#rightBtn{
	margin-top:70px;
	float: left;
	
}
#right-pane{
	background-color : 	#F0F8FF ;/*AliceBlue*/
}



/**********************Window adding NEW TASK******************/
ul .add-task-buttons{
list-style-type: none;
}
.cancel-btn{
    /*margin-right: 11px;*/
    /*margin-left: 90px;*/
    margin-top: -53px;
    /*padding-top: 1px;*/
	/*float: right;*/
    /*height: 38px;*/
}
button#close {
    height: 38px;
    margin-bottom: 11px;
    margin-left: 90px;
    /*margin-right: 11px;*/
    float: right;
}
button#save {
    height: 38px;
}


/*
#task{
 background-color: rgba(1, 10, 70, 0.10);
 height: 53px; 
 width: 100%; 
 position: absolute;
}
#task button {
font-weight: 100;
 width: 100%; 
 height: 100%;
 background-color: rgba(70, 90,7, 0.12);  
 border-bottom-width: 1px;
 border-top-width: 1px;
 padding-top: 12px;
 padding-bottom: 12px;
}
*/