.form {
  position: relative;
  background: #ffffff;
  width: 285px;
  margin: 40px auto 0;
  padding: 40px;
  border-top: 5px solid #33b5e5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}



.form .register {
  display: none;
}
.form h2 {
  margin: 0 0 20px;
  line-height: 1;
  color: #33b5e5;
  font-size: 18px;
  font-weight: 400;
}
.form .alert {
  position: relative;
  background: #f3f3f3;
  color: #666666;
  font-size: 12px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: left;
}
.form .alert .fa-times-circle {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-top: -8px;
  float: right;
}
.form input {
  outline: none;
  display: block;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px 15px;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ccc;
  font-family: "Roboto";
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-wieght: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.form input:focus {
  color: #333333;
  border: 1px solid #33b5e5;
}
.form button {
  cursor: pointer;
  background: #33b5e5;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 25px;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.form button:hover {
  background: #1a9bcb;
}
.form footer {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  margin: 0 0 -40px -40px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form footer a {
  color: #333333;
  text-decoration: none;
}


/*List of list side */
#left-pane {
     background-color: #8888D0;
}

/*the title */
#left-pane h1 {
    text-align: center;
}

/*button plus*/
#addListButton {
    width: 100%;
    margin-top: 40px;
}


#listView {
    margin-top: 30px;
}
.listView {
    height: 35px;
	background-color: #8888D0;
}

.listView .title{
    margin-top: 8px;
    float: left;
    margin-left: 20px;
}

.listView p {
    margin: 8px;
    /*float: right;*/
}

/*button edit*/
.listView button{ /*parent > child*/
     float: right;
	 background-color: #8888D0;
 }

#addListWindow input{
    height: 30px;
    font-size: 17px;
}

#addListWindow #listDialogAddSubmit{
    float: right;
    margin-top: 70px;
}

#editListWindow input{
    height: 30px;
    font-size: 17px;
}

#editListWindow #listDialogEditSubmit{
    float: right;
}

#editListWindow #listDialogEditRemove{
    float: left;
}

#center-pane{ 
 background-color: #7AC5CD;/*blue like the sea*/
}


.k-tabstrip .k-content.k-state-active {
    background-color: #7AC5CD;/*blue like the sea*/
    color: #2e2e2e;
}

.listMiddView{
	height: 35px;
   background-color: #7AC5CD;		
}

#tabstrip input {
    height: 30px;
    font-size: 17px;
    width:88%;
}

#tabstrip button {
    height: 36px;
    width: 36px;
}

.item {
    float: left;
    margin: 40px;
	background-color : 	#F0F8FF ;
	font-family : "Comic Sans MS", cursive, sans-serif;
}

.item .row {
    float:left;
    width: 100%;
    margin: 5px;
}

.item label {
    font-size: 15px;
    padding-right: 50px;
    float: left;
}

.item input {
    height: 25px;
    font-size: 16px;
	font-family : "Comic Sans MS", cursive, sans-serif;
}

#right-pane{
	background-color : 	#F0F8FF ;/*AliceBlue*/
}