<div id="horizontal" style="height: 100%; width: 100%;">
    <div id="left-pane">
          <div id="top-pane">
                            <div class="pane-content">
                                
								<!--for element 1 in menu.html-->
								<div id="megaStore"> </div> 
								<p>menu bar</p>
                            </div>
                        </div>
                        <div id="middle-pane">
                            <div class="pane-content">
						
						<!---the list view of the task's----->
								<div id="taskList"> </div>
								
						
                            </div>
                        </div>
						
						
						
                        <div id="bottom-pane">
                            <div class="pane-content">
							<!--- the id of adding a new task inside we have a button--->
								 <div  style="float:left" id="task"></div>
                            </div>
                        </div>	
    </div>
	
    <div id="center-pane">
        <div class="pane-content">
		<div id ="middle">
		
		<p></p>
		
		</div>
            
        </div>
    </div>
    <div id="right-pane">
        <div class="pane-content">
            <h3>Inner splitter / right pane</h3>
            <p>Resizable.</p>
        </div>
    </div>
</div>