<div id="horizontal" style="height: 100%; width: 100%;">
    <div id="left-pane">
          <div id="top-pane">
                            <div class="pane-content">
                                
								<!--for element 1 in menu.html-->
								<div id="megaStore"> </div> 
								<p>menu bar</p>
                            </div>
                        </div>
                        <div id="middle-pane">
                            <div class="pane-content">
                                <h3>Inner splitter / center pane 2</h3>
								<div id="taskList"> </div>
                                <p>Resizable only.</p>
								
								
								
								
                            </div>
                        </div>
                        <div id="bottom-pane">
                            <div class="pane-content">
                              <!--p>
								<--for element 3 in window.html>
								 should have button to window  in Here!!
								 </p-->
								 <div id="windowButton" style="height: 100%;"> </div>
								
                            </div>
                        </div>	
    </div>
	
    <div id="center-pane">
        <div class="pane-content">
            <h3>Inner splitter / center pane</h3>
            <p>Resizable only.</p>
        </div>
    </div>
    <div id="right-pane">
        <div class="pane-content">
            <h3>Inner splitter / right pane</h3>
            <p>Resizable.</p>
        </div>
    </div>
</div>