
            <ul id="menu">
                <li>Products
                    <ul>
                        <li> Furniture
                            <ul> <!-- moving the UL to the next line will cause an IE7 problem -->
                                
                                <li>Sofas</li>
                            </ul>
                        </li>
                        <li>Decor
                            <ul> <!-- moving the UL to the next line will cause an IE7 problem -->
                                
                                <li>Throws</li>
                            </ul>
                        </li>
                        
                        <li>Lights
               <ul> <!-- moving the UL to the next line will cause an IE7 problem -->
                                <li>Push Light</li>
                                
                            </ul>
                        </li>
                    </ul>
                </li>
                
            
                <li>Events</li>
               
            </ul>
   
        
      
   
